@import './card-component.css';

/* 카드 레이아웃 */
.topLayout {
  display: grid;
}

.bottomLayout {
  display: grid;
  row-gap: var(--small-spacing);
  margin-block-end: var(--small-spacing);

  @media (width >= 64rem) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--small-spacing);
  }
}

.menubar {
  --size-22: 1.375rem;

  display: flex;
  justify-items: center;
  color: var(--black);

  @media (width <= 52.125rem) {
    /* min-inline-size: 20rem; */
    visibility: hidden;
    /* padding-inline: var(--size-22); */

    .menuLogo,
    .menuSearch,
    .menuShop,
    .menuAll {
      visibility: visible;
    }
  }

  @media (width >= 52.125rem) {
    .menuAll {
      visibility: hidden;
    }
  }
}
