/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
:root {
  /* 글자크기 */
  --text-14: 0.875rem;
  --text-16: 1rem;

  /* 색상 */
  --black: #121212;
  --darkBlue: #24388d;
  --lightBlue: #e9f0fd;
  --silverLight: #dadada;
  --white: #fff;
  --naverGreen: #03cf5d;

  --height-45: 45px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.naverLogin {
  font-size: var(--text-16);
  color: var(--black);

  .logo {
    --logo-naver: 230px;

    width: var(--logo-naver);
    margin: 0 auto;
  }

  form {
    margin-top: 2.8125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    input {
      width: calc(100% - 16px);
      background: var(--white);
      border: 1px solid var(--silverLight);
      height: var(--height-45);
      font-size: var(--text-14);
      padding-left: 0.875rem;
      margin-bottom: 0.625rem;
    }
  }
  button {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    border: 0;
    padding: 0;
    /* padding-inline: 0;
    padding-block: 0; */
    width: 100%;
    margin-top: 1.25rem;
    background: var(--naverGreen);
    height: var(--height-45);
    font-size: var(--text-16);
    color: var(--white);
  }

  .loginStatus {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 35px;
    margin-top: 0.75rem;
  }

  .loginStatus .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3125rem;
  }
}
